body{
    background-image: url(../img/music-top.jpg);
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}
h1{
    font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.chico{
    font-size: smaller;
}
.hipervinculos{
    margin-left: 25px;
}
a{
    text-decoration: none;
    color: black;
}
.logos{
    margin-left: 25px;
}
.music{
    margin-top: 100px;
    font-size: 70px;
}
.grande{
    font-size: larger;
    font-weight: bold;
}
